version: '3'

services:
   odpreactor-ld-r:
      build: .
      container_name: odpreactor-ld-r
      ports:
        # Public HTTP Port:
        - "${ODPR_LDR_PORT-4500}:${ODPR_LDR_PORT-4500}"
      environment:
        - PORT=${ODPR_LDR_PORT-4500}
        - HOST=${ODPR_LDR_HOST-localhost}
        - ALLOWED_ORIGINS=${ODPR_LDR_ALLOWED_ORIGINS-http://localhost:3000,http://localhost:4000,http://localhost:5000}
        - CONFIG_SPARQL_ENDPOINT_URI=${CONFIG_SPARQL_ENDPOINT_URI-https://arco.istc.cnr.it/odpr/sparql}
        - CONFIG_SPARQL_ENDPOINT_HOST=${CONFIG_SPARQL_ENDPOINT_HOST-arco.istc.cnr.it}
        - CONFIG_SPARQL_ENDPOINT_PATH=${CONFIG_SPARQL_ENDPOINT_PATH-/odpr/sparql}
        - CONFIG_SPARQL_ENDPOINT_PORT=${CONFIG_SPARQL_ENDPOINT_PORT-443}
        - CONFIG_SPARQL_ENDPOINT_TYPE=${CONFIG_SPARQL_ENDPOINT_TYPE-virtuoso}
        - CONFIG_SPARQL_ENDPOINT_PROTOCOL=${CONFIG_SPARQL_ENDPOINT_PROTOCOL-https}
        - CONFIG_GRAPH=${CONFIG_GRAPH-http://odpreactor.arco.istc.cnr.it/configuration}
        - ODP_REACTOR_GRAPH_HOST=${ODP_REACTOR_GRAPH_HOST-localhost}
        - ODP_REACTOR_GRAPH_PORT=${ODP_REACTOR_GRAPH_PORT-5000}
        - ODP_REACTOR_SERVER_URL=${ODP_REACTOR_SERVER_URL-http://localhost:4000}
        - TEST_SPARQL_ENDPOINT_URI=${TEST_SPARQL_ENDPOINT_URI-https://arco.istc.cnr.it/odpr/sparql}
      env_file:
        - .env
      restart: always
