.hide-element {
    display: none;
}

.inline-div {
    display: inline-block;
}

.padding15 {
    padding: 15px;
}

.bold {
    font-weight: bold;
}
.ldr-padding {
    padding: 40px;
}
.ldr-padding-more {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: none !important;
    animation-fill-mode: none !important;
}

.ui.small.image {
    object-fit: contain;
}

.leaflet-container {
    min-height: 200px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

#navbar.hidden-navbar {
    display: none;
}

#navbar {
    margin: 0;
    z-index: 2;
}

.hidden-nav-open {
    visibility: hidden;
}

.absolute-navbar {
    position: absolute;
}

p.about-img-desc {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-style: italic;
}

.about-li {
    padding: 20px 0;
}
